<h1><small>Héroes de </small> Marvel y DC</h1>
<hr>
<div class="row row-cols-1 row-cols-md-3">
    <div *ngFor="let heroe of heroes; index as i" class="col mb-4 align-content-center">
        <div class="card h-100 animated fadeIn fast">
            <img [src]=heroe.img class="card-img-top" [alt]="heroe.nombre">

            <div class="card-body d-flex flex-column">

                <h5 class="card-title">{{heroe.nombre}}</h5>

                <p class="card-text">{{heroe.bio.substring(0,150)}} ...</p>
                <div class="mt-auto">
                    <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
                    <!-- <a class="btn btn-outline-primary btn-block" [routerLink]="['/heroe',i]">Ver más..</a> -->
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{heroe.aparicion}}</small>
            </div>
        </div>
    </div>
</div>