<div class="d-flex justify-content-center">
    <div class="block">
        <div class="d-md-inline-flex animated fadeIn fast">
            <div class="d-flex align-items-center">
                <img [src]="srcRuta + heroe.casa +'.png'" [alt]="heroe.casa">
            </div>
            <div class="d-flex align-items-end ml-md-2">
                <h1>{{heroe.casa}}</h1>
            </div>

        </div>
        <div class="card mb-3 animated fadeIn" style="max-width: 100%; ">
            <div class="row no-gutters">
                <div class="col-md-4 ">


                    <img [src]="heroe.img " [alt]="heroe.nombre" class="card-img">

                    <a [routerLink]=" '/heroes' " class="btn btn-primary m-1 btn-block " style=" width:96% ; padding: 0 2% 0 2%;">Volver</a>


                </div>
                <div class="col-md-8 ">
                    <div class="card-body ">
                        <h4 class="card-title ">{{heroe.nombre | uppercase }}</h4>
                        <h5 class="card-text font-italic">{{heroe.aparicion | date:'y'}}</h5>
                        <hr>
                        <p class="card-text ">{{heroe.bio}}</p>

                    </div>
                </div>
            </div>
        </div>